*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
body{
    background: #cccccc;
}
h3{
    padding-top: 15px;
    font-weight: 900;
}
div 
/* /header */
.head_logo{
    padding-left: 1rem;
    padding-top: 1rem;
}

#logo{
    display: inline-block;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    vertical-align: 15%;
}
/* /containter */
.container{
    width: 70%;
    margin: 100px auto;
    background: #ffffff;
}
/* /nav */
.button{
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border-radius: 10%;
}
#add_task{
    background-color: #47adf1;
    color: white;
    border-style: solid;
    border-width: 1px;
}
#add_section{
    color: #ced3d7;
    border-style: solid;
    border-width: 1px;
}
/* /main */
main>div{
    padding: 5px;
    font-weight: 700;
}
.checkmark{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    border-radius: 50%;
    color: green;
    width: 20px;
    height: 20px;
    text-align: center;
    }
    .cross{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    border-radius: 50%;
    color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    }
    .bookmark{
        display: inline-block;
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px;
        color: white;
    }
    .editorial{
        background-color: #47adf1;
    }
    .goals{
        background-color: #9c72e4;
    }
    .recruiting{
        background-color: #64c0a9;
    }
    .mobile{
        background-color: #f29e33;
    }
    .website{
        background-color: #d863a0;
    }
    .sales{
        background-color: #b0c926;
    }