*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* /header */
.head_logo{
    padding-left: 1rem;
    padding-top: 1rem;
}

#logo{
    display: inline-block;
    font-size: 48px;
    font-weight: 900;
}
/* /nav */
